<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav mat-elevation-z3"
    [class.expanded]="isExpanded"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'side'"
    [opened]="true"
  >
    <mat-toolbar>
      <img src="assets/icons/nba.png" alt="" srcset="" />
      <span>Dashboard</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item [ngClass]="{ 'justify-center': !isExpanded }">
        <mat-icon mat-list-icon svgIcon="dashboard" class="primary"></mat-icon>
        <h4 mat-line>Dashboard</h4>
      </mat-list-item>
      <mat-list-item [ngClass]="{ 'justify-center': !isExpanded }">
        <mat-icon mat-list-icon svgIcon="user" class="primary"></mat-icon>
        <h4 mat-line>Profile</h4>
      </mat-list-item>
      <mat-divider [ngStyle]="{ margin: '5px 0' }"></mat-divider>
      <mat-list-item [ngClass]="{ 'justify-center': !isExpanded }">
        <mat-icon mat-list-icon svgIcon="scoreboard" class="primary"></mat-icon>
        <h4 mat-line>Scores</h4>
      </mat-list-item>
      <mat-list-item [ngClass]="{ 'justify-center': !isExpanded }">
        <mat-icon mat-list-icon svgIcon="schedule" class="primary"></mat-icon>
        <h4 mat-line>Schedule</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z3">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="isExpanded = !isExpanded"
      >
        <mat-icon
          aria-label="Side nav toggle icon"
          [svgIcon]="!isExpanded ? 'right-alignment' : 'left-alignment'"
          class="white"
        ></mat-icon>
      </button>
      <img src="assets/icons/nba.png" alt="" srcset="" />
      <span>NBA</span>
      <div class="buttons flex-end">
        <button mat-button>
          <mat-icon svgIcon="login" class="white" id="login-icon"></mat-icon>Login
        </button>
        <button mat-button>
          <mat-icon svgIcon="signup" class="white" id="register-icon"></mat-icon>SignUp
        </button>
      </div>
      <!-- <button mat-button [matMenuTriggerFor]="menu" class="flex-end">
        Account
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon svgIcon="login" class="primary" id="login-icon"></mat-icon>Login
        </button>
        <button mat-menu-item>
          <mat-icon svgIcon="signup" class="primary" id="register-icon"></mat-icon>SignUp
        </button>
      </mat-menu> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard></app-dashboard>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
